body {
    margin: 0;
    font-family: Google Sans;
}

.title {
    padding-left: 30px;
    user-select: none;
    color: white;
    font-size: 24px;
}

.title:hover {
    cursor: pointer;
}

.horizontal-menu {
    display: flex;
    background-color: green;
}

.login_div {
    display: flex;
    margin: 0 30px 0 auto;
    align-items: center;
}

.login_div:hover {
    cursor: pointer;
    opacity: 0.8;
}

.login_img {
    width: 31.25px;
    height: 31.25px;
    padding-right: 10px;
    pointer-events: none;
    user-select: none;
}

.login_text {
    color: white;
    user-select: none;
}

.login-menu {
    background-color: lightgrey;
    width: 500px;
    height: 375px;
    border-radius: 37.5px;
    display: grid;
    margin: auto;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    user-select: none;
}

.login_title {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 24px;
}

.login_username {
    margin: 0px 20px;
    padding-left: 15px;
    height: 37.5px;
    border-radius: 12.5px;
    border: none;
    box-shadow: 1px 1px grey;
    font-family: Google Sans;
    font-size: 16px;
}

.login_username:focus {
    outline-color: green;
}

.login_password {
    margin: 0px 20px;
    padding-left: 15px;
    height: 37.5px;
    border-radius: 12.5px;
    border: none;
    box-shadow: 1px 1px grey;
    font-family: Google Sans;
    font-size: 16px;
}

.login_password:focus {
    outline-color: green;
}

.login_button {
    margin: 0px 20px;
    border-radius: 12.5px;
    border: none;
    background-color: green;
    color: white;
    font-family: Google Sans;
    font-size: 16px;
}

.login_button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.login_create {
    padding-left: 30px;
    padding-top: 25px;
    height: 10px;
    color: green;
    font-size: 16px;
}

.login_create:hover {
    cursor: pointer;
    opacity: 0.8;
}