body {
    margin: 0;
    font-family: Google Sans;
}

.title {
    padding-left: 30px;
    user-select: none;
    color: white;
    font-size: 24px;
}

.horizontal-menu {
    position: none;
    width: 100%;
    display: flex;
    background-color: green;
}

.login_div {
    display: none;
    margin: 0 30px 0 auto;
    align-items: center;
}

.oobe_button:hover, .add_expenses:hover {
    cursor: pointer;
    opacity: 0.8;
}

.login_img {
    width: 31.25px;
    height: 31.25px;
    padding-right: 10px;
    pointer-events: none;
    user-select: none;
}

.login_text {
    color: white;
    user-select: none;
}

.welcome {
    font-size: 36px;
    padding-left: 30px;
    user-select: none;
    margin-top: 125px;
}

.oobe {
    margin-top: 200px;
    user-select: none;
    display: grid;
    transition: opacity 0.2s ease, transform 2s ease;
}

.oobe.fade {
    opacity: 0;
    transform: translateX(-100%);
    }

.oobe_title {
    font-size: 48px;
    padding-left: 100px;
}

.oobe_description {
    padding-left: 100px;
    font-size: 20px;
}

.oobe_name {
    margin-left: 100px;
    width: 500px;
    height: 50px;
    font-size: 24px;
    border-radius: 12.5px;
    border: solid;
    border-color: lightgrey;
    border-width: 2px;
    font-family: Google Sans;
    padding-left: 20px;
}

.oobe_name:focus {
    outline-color: green;
}

.oobe_button {
    margin-left: 100px;
    margin-top: 75px;
    width: 125px;
    height: 50px;
    border-radius: 12.5px;
    border: none;
    background-color: green;
    color: white;
    font-family: Google Sans;
    font-size: 16px;
}

.body {
    display: none;
}

.dashboard {
    font-size: 24px;
    padding-left: 30px;
    margin-top: 0;
}

.dashboard_left {
    background-color: lightgrey;
    width: 45%;
    height: 250px;
    border-radius: 25px;
    margin-left: 30px;
    display: grid;
    text-align: center;
    align-items: center;
}

.dashboard_title {
    font-size: 36px;
    margin-bottom: 0;
}

.dashboard_content {
    margin-top: 0;
    font-size: 48px;
}

.dashboard_right {
    background-color: lightgrey;
    width: 45%;
    height: 250px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: 30px;
    display: grid;
    text-align: center;
    align-items: center;
}

.dashboard_summary {
    display: flex;
}

.all_expenses {
    font-size: 24px;
    padding: 0px 30px;
}

.add_expenses {
    margin-left: 30px;
    margin-top: 0;
    padding: 0;
    width: 175px;
    height: 40px;
    font-family: Google Sans;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: lightgrey;
}